


button.gint-button,
button.gint-button:hover{
	margin-top : -15px;
	margin-bottom : 55px;
    background-color:#000!important;
    border:none!important;
	color:#fff;
}

#gint-overlay {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0,0,0,.8);
}

#gint-overlay .overlay-content-wrapper {
	position:relative;
    width: 600px;
    height: auto;
    max-width: 100vw;
    min-height: 10vw;
    max-height: 100vh;
    padding: 0;
    overflow: auto;
    display: flex;
    background-color: #fff;
    animation-duration: 1s;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 2px 8px 23px 3px rgba(0,0,0,0.2);
}

#gint-overlay .overlay_close{
	position:absolute;
	top:15px;
	right:15px;
	font-size:15px;
	cursor:pointer;
}

#gint-overlay input,
#gint-overlay textarea{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #33475b;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 15px;
    height: 40px;
}

#gint-overlay input::-webkit-input-placeholder {
  color: #bfbfbf;

}

#gint-overlay textarea::-webkit-input-placeholder {
  color: #bfbfbf;
}

#gint-overlay textarea{
    height: 70px;
    padding: 10px 15px;
    margin-bottom:10px;
}

#gint-overlay label{
	font-family: helvetica;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 3px;
    font-weight: 500;
    display: block;
    font-style: normal;
    text-align: left;
}

#gint-overlay .agreement *{
	padding-top 10px;
	display:inline;
}

#gint-overlay label .required{
    color:red;
}

#gint-overlay required{
    height: 70px;
}

#gint-overlay form {
    display:flex;
}

#gint-overlay fieldset {
    width: 100%;
    margin-right: 80px;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 45px;
}

#gint-overlay legend {
    font-family: 'Calibre', sans-serif;
    font-weight: 600;
    font-size:45px;
    margin-bottom:0px;
    line-height: 1.05;
}

#gint-overlay input[type=checkbox] {
    height:15px;
    display:inline;
}

#gint-overlay a, #gint-overlay a:hover{
    color:blue;
}

#gint-overlay button {
    border-radius:3;
    color:#fff;
    background-color:#000;
    margin-top:30px;
}

#gint-overlay input:focus,
#gint-overlay textarea:focus{
    border-color:#52A8EC;
}

#gint-overlay input:valid,
#gint-overlay textarea:valid{
    border-color:green;
}

/* Remove the extra padding on our work .. (replace this if more time to not use safer selection) */
section.elementor-element-0e9536b .elementor-element-368a22c{
	display:none;
}


#gint-overlay  form.validated input:invalid,#gint-overlay  form.validated textarea:invalid {
  border: 1px solid #c87872;
}

#gint-overlay  input:valid,#gint-overlay  textarea:valid {
  border: 1px solid #52A8EC;
}


/* Adjustments for small mobile view */
@media only screen and (max-width: 688px) {

  #gint-overlay legend {
      font-family: 'Calibre', sans-serif;
      font-weight: 600;
      font-size:35px;
  }

  #gint-overlay .agreement *{
	font-size: 16px;
  }

  #gint-overlay fieldset{
  	margin: 30px;
    margin-right: 60px;
  }
}
